.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
.hero .left {
  width: 50vw;
  height: 100%;
  background-color: #dbd8f0;
}
.hero .right {
  width: 50vw;
  height: 100%;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.welcome {
  font-size: 1.5rem;
  color: #282cf7;
  text-transform: uppercase;
}
.desc {
  font-size: 2rem;
  margin: 20px 0;
  text-transform: capitalize;
}
